.homepageContainer {
    margin-top: 90px;
}

.headerDiv h1 {
    margin: 0%;
    text-align: center;
    /* line-height:80%; */
}
.headerTexts {
    margin: 0%;
    text-align: center;

}

.headerTexts.body {
    text-transform:capitalize;
}